* {
  box-sizing: border-box;
}
body {
  --my-bg: #fff;
  --my-text: #000;
  overflow: hidden;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    --my-bg: #000;
    --my-text: #fff;
  }
}


#status {
  position: absolute;
  background: red;
  padding: 8px;
  bottom: 5px;
  right: 5px;
  border-radius: 8px;
}

#text {
  position: absolute;
  top:40px;
  left:0;
  height: calc(100% - 40px);
  width: 100%;
  background: var(--my-bg);
  color: var(--my-text);
}
