* {
  box-sizing: border-box;
}

#status {
  position: absolute;
  background: red;
  padding: 8px;
  bottom: 5px;
  right: 5px;
}

#text {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}
